body{
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff
/* margin: 0; */
    /* padding: 0; */
    /* color: #fff;     */
}
nav{
    background-color: #fff;
display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: -3px;

}
nav a{
        text-decoration: none;
text-transform: uppercase;
    color: #1d0e7b;
    font-weight: bold;
    border: 1px solid rgb(91, 88, 88);
border-radius: 3px;
    padding: 5px 10px;
}
div h1,h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.button{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 15px;
    height: 70px;
    width: 100px;
    border: 2px solid black;
}
#grey{
    background-color: grey;
}
#white{
    background-color: #fff;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}