body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0; */
    /* padding: 0; */
    /* color: #fff;     */
}
nav {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: -3px;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: 212121;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
}
.maincontainer{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
}
.container{
    padding: 3rem;
    border: 2px solid whitesmoke;
    width: 50vw;
    border-radius: 14px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}