body {
    background-color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0; */
    /* padding: 0; */
    /* color: #fff;     */
    color: #fff;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: -3px;

}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
font-size: 40px;
background-color: orange;
padding: 20px 50px;
margin-top: 10px;
border-radius: 10px;
}